*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans Khojki", sans-serif;
}

body{
    background-color: rgba(19, 18, 18, 0.11);
}

/* SEZIONE DI TESTA DELLA PAGINA */
header{
    background-color: white;
    margin-bottom: 40px;
}

.logo_text{
    vertical-align: middle;
    font-size: 40px;
}

.logo_img{
    vertical-align: middle;
}

.logo{
    padding-left: 1%;
    padding-top: 5px;
}

/* SEZIONE MAIN */
.container{
    width: 70%;
    margin: auto;
    background-color: white;
    border-radius: 10px;
}

.button{
    margin-top: 20px;
    margin-bottom: 3px;
    margin-left: 40px;
    padding: 5px 0;
}

#bottone_2{
    border: 1px solid lightgray;
    background-color: white;
    color: gray;
}

.bottone_1{
    border: 1px solid lightgray;
}

/* SEZIONE LISTA     */
.lista_principale{
    list-style-type: none;
    background-color: white;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: large;
}

li{
    margin-bottom: 7px;
}

.sottolista{
    list-style-type: none;
    font-size: medium;
}

.tondo{
    font-size: small;
    border-radius: 13px;
    color: white;
    padding: 3px 5px;
}

.blue{
    background-color: skyblue;
}

.viola{
    background-color: rgb(139, 17, 196);
}

.verde{
    background-color: rgb(16, 168, 42);
}

.arancio{
    background-color: orange;
}

.rosa{
    background-color: rgb(238, 156, 170);
}

.lime{
    background-color: lime;
}

.green{
    color: greenyellow;
}

.red{
    color: red;
}